GOOGLE_CLIENT_SECRET=
APP_ENV=dev
DB_PORT=3306
DB_USER=root
GOOGLE_CLIENT_ID=
HOST=http://localhost:8000
DB_NAME=data_store_test
DB_HOST=localhost
EMAIL_FROM=dasd@dsa.com
DB_DRIVER=Pdo_Mysql
DB_PASS=
EMAIL_TO=dsa@dasd.com
GOOGLE_PROJECT_ID=
OAUTH2_SERVER_PUBLIC_KEY_PATH=/data/oauth/public.key
OAUTH2_EXPECTED_AUDIENCE=
OAUTH2_EXPECTED_ISSUER=
